@import '../styles';
.flip-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid $mainSubGreenColor;
  h1{
    color: $mainRedColor;
    font-family: $textOswald;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.flip-cont-one{
  height: 20vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainTextColor;
  border-radius: 5px;
  border: 2px solid $mainSubGreenColor;
}
.flip-cont-two{
  height: 40vh;
  width: 80vw;
  background-color: $mainTextColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $mainSubGreenColor;
}
.flip-hover:hover{
  color: $mainRedColor;
  cursor: pointer;
  border: 2px solid $mainRedColor;
}
