@import '../styles';
.home-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $mainSubGreenColor;
  h1{
    // color: $mainRedColor;
    color: #7F0B0B;
    font-family: $textOswald;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
  }
}
.home-login-wrapper{
 position: relative;
 height: 70vh;
 width: 80vw;
 background-color: $mainTextColor;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 border: 2px solid $mainSubGreenColor;
 p{
   padding-top: 15px;
   cursor: pointer;
 }
}
.home-login{
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  span{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  span:hover{
    color: $mainGreenColor;
  }
  button{
    font-family: $textUbuntu;
    color: $mainTextColor;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px;
  }
}
