@import '../styles';
.home-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $mainSubGreenColor;
  h1{
    text-align: center;
    font-size: 150%;
    margin: 20px 0 20px 0;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
}
.home-login-wrapper{
 // color: #0066ff;
 position: relative;
 height: 70vh;
 width: 80vw;
 background-color: $mainTextColor;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 border: 2px solid $mainSubGreenColor;
 color: white;
 p{
   padding-top: 15px;
   cursor: pointer;
   font-family: $retro;
 }
}
.home-login{
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  font-family: $textOswald;
  span{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  span:hover{
    color: $mainGreenColor;
    font-family: $textOswald;
  }
}
@media only screen and (max-width: 640px){
  .home-wrapper{
    h1{
      font-size: 30px;
    }
  }
}
