@import '../styles';
.match-stats-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  button{
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: $textUbuntu;
    color: $mainTextColor;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px;
  }
}
.match-cont{
  position: relative;
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainTextColor;
  border: 1px solid $mainGreenColor;
  border-radius: 5px;
}
.match-splitone-cont{
  width: 20%;
  height: 100%;
  border: 1px solid $mainGreenColor;
  border-radius: 5px;
}

.match-graph-cont-winner{
  width: 80%;
  height: 100%;
  border: 1px solid $mainGreenColor;
  border-radius: 5px;
}
.match-graph-cont-loser{
  width: 80%;
  height: 100%;
  border: 1px solid $mainGreenColor;
  border-radius: 5px;
}
@media(max-width: 768px){
  .match-cont{
    height: 40%;
    width: 100%;
  }
}
@media(max-width: 500px){
  .match-stats-wrapper{
    button{
      display: none;
    }
  }
}
