<main class="point-wrapper">
  <div class="left-arrow" ui-sref="match"></div>
  <div ng-if="singleDouble" class="select-container" ng-click="selectPoint(11)" ui-sref='player1'><h1>11</h1></div>
  <div ng-if="!singleDouble" class="select-container" ng-click="selectPoint(11)" ui-sref='team1settings'><h1>11</h1></div>
  <h1>Select Points</h1>
  <div ng-if="singleDouble" class="select-container" ng-click="selectPoint(21)" ui-sref='player1'><h1>21</h1></div>
  <div ng-if="!singleDouble" class="select-container" ng-click="selectPoint(21)" ui-sref='team1settings'><h1>21</h1></div>
</main>
