<main class="game-wrappper">
  <div class="game-player-card">
    <div class="player-match-score" style="background-color: {{game.player1.color}}">
      <img ng-if="game.player1.curSer" src="./styles/images/ball.png" alt="">
      {{game.player1.name}}
    </div>
    <div class="player-btn" ng-click='setPlayerScore("player1")'>
      {{game.player1.gameScore}}
    </div>
  </div>
  <div class="game-player-card">
    <div class="player-match-score" style="background-color: {{game.player2.color}}">
      <img ng-if="game.player2.curSer" src="./styles/images/ball.png" alt="">
      {{game.player2.name}}
    </div>
    <div class="player-btn" ng-click='setPlayerScore("player2")'>
      {{game.player2.gameScore}}
    </div>
  </div>
</main>
