html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.flip-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .flip-wrapper h1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.flip-cont-one {
  height: 20vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066ff;
  border-radius: 5px;
  border: 2px solid #CCCC9A; }

.flip-cont-two {
  height: 40vh;
  width: 80vw;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #CCCC9A; }

.flip-hover:hover {
  color: white;
  cursor: pointer;
  border: 2px solid white; }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.game-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Baloo", cursive; }

.game-player-card {
  width: 50vw;
  height: 100vh;
  border-left: 2px solid #0066ff; }

.player-match-score {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  position: relative;
  background-color: #0066ff;
  border-left: 1px solid black; }
  .player-match-score img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0; }
  .player-match-score span {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 10px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate; }

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de; } }

.player-btn {
  width: 100%;
  height: 85%;
  font-size: 200px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; }

@media only screen and (max-width: 768px) {
  .game-wrapper {
    flex-wrap: wrap; }
    .game-wrapper h1 {
      font-size: 15px; }
  .game-player-card {
    width: 100vw;
    height: 50vh; }
  .player-btn {
    font-size: 120px; }
  .player-match-score img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0; } }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .home-wrapper h1 {
    text-align: center;
    font-size: 150%;
    margin: 20px 0 20px 0;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.home-login-wrapper {
  position: relative;
  height: 70vh;
  width: 80vw;
  background-color: #0066ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A;
  color: white; }
  .home-login-wrapper p {
    padding-top: 15px;
    cursor: pointer;
    font-family: "Press Start 2P", sans-serif; }

.home-login {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  font-family: "Press Start 2P", sans-serif; }
  .home-login span {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; }
  .home-login span:hover {
    color: #999967;
    font-family: "Press Start 2P", sans-serif; }

@media only screen and (max-width: 640px) {
  .home-wrapper h1 {
    font-size: 30px; } }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.match-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .match-wrapper h1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.select-match-container {
  height: 20vh;
  width: 80vw;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #CCCC9A;
  border-radius: 5px; }

.select-match-container:hover {
  color: white;
  cursor: pointer;
  border: 2px solid white; }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.match-stats-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .match-stats-wrapper button {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: "Ubuntu", sans-serif;
    color: #0066ff;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px; }

.side-bar {
  width: 10%;
  height: 100%;
  background-color: yellow; }

.match-cont {
  position: relative;
  height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066ff;
  border-radius: 5px; }

.match-splitone-cont {
  width: 20%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

.match-graph-cont-complete {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  border-radius: 5px; }
  .match-graph-cont-complete div {
    display: flex;
    justify-content: space-around; }
    .match-graph-cont-complete div div {
      position: relative;
      padding: 10px; }
    .match-graph-cont-complete div span {
      border-radius: 2px;
      height: 20px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.match-graph-cont-winner {
  width: 100%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

.match-graph-cont-loser {
  width: 80%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

@media only screen and (max-width: 500px) {
  .match-stats-wrapper button {
    display: none; } }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.player-setting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .player-setting-wrapper h1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.color-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #0066ff;
  border-radius: 5px;
  padding: 5px; }

.select-color {
  height: 10vh;
  width: 75vw;
  border: 5px solid #0066ff;
  border-radius: 5px; }

.select-color:hover {
  border: 5px solid black; }

.submit {
  height: 10vh;
  width: 100vw;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center; }

.submit:hover {
  cursor: pointer; }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.point-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .point-wrapper h1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

@import url("https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P");
button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: black; }
  main h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0066ff;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid white;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0066ff;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: white;
  cursor: pointer; }

.normal-btn {
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }

.type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .type-wrapper h1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.select-container {
  height: 35vh;
  width: 80vw;
  background-color: #0066ff;
  border: 2px solid #CCCC9A;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .select-container h2 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 150%; }

.select-container:hover {
  color: white;
  cursor: pointer;
  border: 2px solid white; }

/*# sourceMappingURL=maps/styles.css.map */
