html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.flip-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .flip-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.flip-cont-one {
  height: 20vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  border-radius: 5px;
  border: 2px solid #CCCC9A; }

.flip-cont-two {
  height: 40vh;
  width: 80vw;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #CCCC9A; }

.flip-hover:hover {
  color: #7F0B0B;
  cursor: pointer;
  border: 2px solid #7F0B0B; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.game-wrapper {
  display: flex;
  width: 100%;
  height: 100%; }

.game-player-card {
  width: 50vw;
  height: 100vh;
  border-left: 2px solid #666666; }

.player-match-score {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  position: relative;
  background-color: #666666;
  border-left: 1px solid #CCCCCC; }
  .player-match-score img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0; }
  .player-match-score span {
    position: absolute;
    top: 10px;
    right: 15px; }

.player-btn {
  width: 100%;
  height: 85%;
  font-size: 200px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 768px) {
  .game-wrapper {
    flex-wrap: wrap; }
  .game-player-card {
    width: 100vw;
    height: 50vh; }
  .player-match-score img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0; } }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .home-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder; }

.home-login-wrapper {
  position: relative;
  height: 70vh;
  width: 80vw;
  background-color: #666666;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .home-login-wrapper p {
    padding-top: 15px;
    cursor: pointer; }

.home-login {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center; }
  .home-login span {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; }
  .home-login span:hover {
    color: #999967; }
  .home-login button {
    font-family: "Ubuntu", sans-serif;
    color: #666666;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.match-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .match-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.select-match-container {
  height: 20vh;
  width: 80vw;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #CCCC9A;
  border-radius: 5px; }

.select-match-container:hover {
  color: #7F0B0B;
  cursor: pointer;
  border: 2px solid #7F0B0B; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.match-stats-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .match-stats-wrapper button {
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: "Ubuntu", sans-serif;
    color: #666666;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px; }

.match-cont {
  position: relative;
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666666;
  border: 1px solid #999967;
  border-radius: 5px; }

.match-splitone-cont {
  width: 20%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

.match-graph-cont-winner {
  width: 80%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

.match-graph-cont-loser {
  width: 80%;
  height: 100%;
  border: 1px solid #999967;
  border-radius: 5px; }

@media (max-width: 768px) {
  .match-cont {
    height: 40%;
    width: 100%; } }

@media (max-width: 500px) {
  .match-stats-wrapper button {
    display: none; } }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.player-setting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .player-setting-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.color-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #666666;
  border-radius: 5px;
  padding: 5px; }

.select-color {
  height: 10vh;
  width: 75vw;
  border: 5px solid #666666;
  border-radius: 5px; }

.select-color:hover {
  border: 5px solid #CCCCCC; }

.submit {
  height: 10vh;
  width: 100vw;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center; }

.submit:hover {
  cursor: pointer; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.point-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .point-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

button {
  cursor: pointer; }

body {
  margin: 0px;
  box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: #CCCCCC;
  font-family: "Ubuntu", sans-serif; }
  main h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.logo {
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw; }

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666666;
  position: absolute;
  top: 5px;
  left: 5px; }

.left-arrow:hover {
  border-right: 10px solid #7F0B0B;
  cursor: pointer; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666666;
  position: absolute;
  top: 0;
  right: 0; }

.right-arrow:hover {
  border-color: #7F0B0B;
  cursor: pointer; }

.type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #CCCC9A; }
  .type-wrapper h1 {
    color: #7F0B0B;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px; }

.select-container {
  height: 35vh;
  width: 80vw;
  background-color: #666666;
  border: 2px solid #CCCC9A;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .select-container h2 {
    font-family: "Oswald", sans-serif;
    font-size: 150%; }

.select-container:hover {
  color: #7F0B0B;
  cursor: pointer;
  border: 2px solid #7F0B0B; }

/*# sourceMappingURL=maps/styles.css.map */
