.btn-cont{
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  label{
    padding-right: 10px;
  }
  button{
    margin-right: 15px;
  }
}
.scan-result-container{
  width: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
