@import url('https://fonts.googleapis.com/css?family=Baloo|Bungee+Inline|Press+Start+2P');
$mainBackgroundColor: black;
$mainTextColor: #0066ff;
$mainGreenColor: #999967;
$mainSubGreenColor: #CCCC9A;
$mainRedColor: white;
$textRoboto: 'Roboto', sans-serif;
$textOpenSans: 'Open Sans', sans-serif;
$textOswald: 'Press Start 2P', sans-serif;
$textUbuntu: 'Ubuntu', sans-serif;
$textBaloo: 'Baloo', cursive;
$retro: 'Press Start 2P', sans-serif;
button{
  cursor: pointer;
}
body {
  margin: 0px;
  box-sizing: border-box;
}
input{
}
main{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  background-color: $mainBackgroundColor;
  h1{
    // color: $mainRedColor;
    // font-family: $textOswald;
    // font-size: 150%;
    // font-weight: bolder;
    // margin-top: 10px;
    // margin-bottom: 10px;
    font-family: $retro;
    text-align: center;
    font-size: 150%;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
}
.logo{
  background-image: url("../../styles/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 60vw;
}
.left-arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid $mainTextColor;
  position: absolute;
  top: 5px;
  left: 5px;
}
.left-arrow:hover{
  border-right:10px solid $mainRedColor;
  cursor: pointer;
}
.right-arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid $mainTextColor;
  position: absolute;
  top: 0;
  right: 0;
}
.right-arrow:hover{
  border-color: $mainRedColor;
  cursor: pointer;
}
.normal-btn{
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  font-family: $textOswald;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 5px;
  color: gray;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
